<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.efa"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.efa.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="OnlineActivity"></activity>
        <activity android:name="DayTripActivity"></activity>
        <activity android:name="BoatActivity"></activity>
        <activity android:name="GroupActivity"></activity>
        <activity android:name="OnTourActivity"></activity>
        <activity android:name="PersonActivity"></activity>
        <activity android:name="RouteActivity"></activity>
        <activity android:name="HelpActivity"></activity>
        <activity android:name="AboutActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
